/* The card */
.card-section {
	display: flex;
	flex-wrap: wrap; width : 100vw;
	height: 100vh;
	background: linear-gradient(-25deg, #ffffff 50%, #3ebeff 50.1%);
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.card-detail {
	position: relative;
	height: 450px;
	width: 900px;
	background-color: #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	margin: auto 200px;
}

/* Image on the left side */
.card-detail-thumbnail {
	float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 320px;
	width: 100%;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
.card-detail img.left {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Right side of the card */
.card-detail-right {
	display: block;
	position: relative;
	width: 350px;
}

.card-detail-left {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
}

.card-detail-author {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
}

.card-detail-author span {
	display: block;
}

.card-detail-separator {
	width: 90%;
	height: 0px;
	border: 1px solid #C3C3C3;
}

.card-estimate {
	display: flex;
	list-style: none;
	padding-inline-start: 0px;
	margin-block-start: 0px;
}

.card-estimate li {
	margin: 0 5px;
}

.card-detail-title {
	margin: auto 200px;
}