.cart-item {
	background-color: #fff;
	padding: 10px 10px 0 10px;
	margin: 0 10px 10px 0;
	box-shadow: 0 0 10px 1px #ccc;
}

.cart-item i {
	margin: 5px;
}

.cart-item a {
	background-color: #2c91e8;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cart-item a:hover {
	background-image: linear-gradient(to right, #2c91e8 0%, #0069ff 100%);
}

.cart-item-right {
	background-color: #fff;
	padding: 16px;
	display: inline-table;
	width: 20vw;
	height: auto;
	box-shadow: 0 0 10px 1px #ccc;
}

.cart-item-left {
	width: 60vw;
	height: auto;
}