html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #ff3300;
}

a:hover, a:active, a:focus {
	outline: 0;
	border: 0;
	color: #fff;
}

a:link {
	text-decoration: none;
}

a:active {
	border: none;
}

i {
	font-style: normal;
}

.fa-walking:before {
	content: "\f554";
}

}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: hidden;
}

.page {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form label {
	margin-top: 20px;
}

.form button {
	margin: 20px;
	font-size: 1rem;
}

section {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	flex-direction: column;
}

.header {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/background/background.jpg");
	background-size: cover;
	text-align: center;
	align-items: center;
}

.btn-custom {
	padding: 5px 20px;
	border-radius: 2px;
	border: none;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-flex;
	white-space: nowrap;
	cursor: pointer;
	transition: 0.5s;
	background-size: 200% auto;
	justify-content: center;
}

.btn-custom-defalt {
	background-image: linear-gradient(to right, #ffa500, #ff2300);
}

.btn-custom-blue {
	background-image: linear-gradient(to right, #00dcff, #0008ff);
}

.btn-custom-sky {
	background-image: linear-gradient(141deg, #2cb5e8 0%, #4ee4f5 51%, #00b6ff 75%);
}

.btn-custom:hover {
	background-position: right center;
}

.clear {
	clear: both;
}

.bg-glay {
	background-color: #E6E6E6;
	color: #ffffff;
}

.bg-white {
	background-color: #fff;
}

.bg-black {
	background-color: #000000;
	color: #ffffff;
}

.bg-success {
	background-color: #44cc55;
}

.bg-red {
	background-color: #f44336;
}

.bg-warring {
	background-color: #ffc007;
}

.bg-info {
	background-color: #00aaff;
}

.text-orange {
	color: #FF3300;
}

.text-black {
	color: #505459;
}

.text-white {
	color: #fff;
}

.text-gray {
	color: #555;
}

.text-warring {
	color: #ffc007;
}

.text-success {
	
}

line-x {
	display: block;
	width: 95%;
	height: 1px;
	background-color: #ddd;
	margin: 5px auto;
}

.cursor {
	cursor: pointer;
}

.note {
	color: #ff3300;
	font-size: 1rem;
	position: absolute;
	top: 0;
	left: 10px;
}

.note span {
	margin: 0 5px;
}