#content {
	text-align: center;
}

/* Timeline */
.timeline {
	
}

.timeline-title {
	display: flex;
	font-size: .8rem;
	color: #555;
}

.timeline-title span {
	font-size: 1rem;
	color: #000;
}

.timeline-title>div {
	display: flex;
	flex-direction: column;
}

.timeline-list {
	border-left: 4px solid #ff3300;
	background: white;
	color: #000;
	letter-spacing: 0.5px;
	position: relative;
	line-height: 1.4em;
	font-size: 1.03em;
	padding: 15px 25px;
	text-align: left;
	width: 70vw;
	margin-bottom: 15px;
}

.timeline-list i {
	position: absolute;
	height: 40px;
	width: 40px;
	top: calc(50% - 40px);
	left: -22px;
	border-radius: 50%;
	color: #fff;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	background-color: #ff3300
}

.timeline-detail {
	display: flex;
}

.timeline-detail span {
	font-size: 1rem;
	font-weight: 500;
}

.timeline-detail ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: disc;
	margin-block-start: 0.5em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 10px;
}

.timeline-detail ul li {
	position: relative;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
	list-style: none;
	line-height: 2rem;
}

.timeline-detail ul li:before {
	content: '- '
}

.timeline-img {
	position: relative;
	display: flex;
	margin: 5px 15px 5px 5px;
	margin-left: auto !important;
	background-color: #000;
}

.timeline-img img {
	width: 250px;
	height: 150px;
	object-fit: contain;
	object-position: center;
}