.loadpage{
	width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    display: none;
}

.loadpage.active{
  display: block;
}

  .loading-text {
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    left: 48%;
    top: 58%;
    margin-left: -20px;
  }
  
  .loading {
    position: absolute;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    top: 40%;
    margin-right: -50px;
    left: calc(50% - 130px);
    animation: speeder .4s linear infinite;
  }
  .loading-speed > span {
    height: 0;
    width: 0;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
 
  .loading-speed > span > span:nth-child(1),
  .loading-speed > span > span:nth-child(2),
  .loading-speed > span > span:nth-child(3),
  .loading-speed > span > span:nth-child(4) {
    width: 30px;
    height: 1px;
    background: #000;
    position: absolute;
    animation: fazer1 .2s linear infinite;
  }
  
  .loading-speed > span > span:nth-child(2) {
    top: 3px;
    animation: fazer2 .4s linear infinite;
  }
  
  .loading-speed > span > span:nth-child(3) {
    top: 1px;
    animation: fazer3 .4s linear infinite;
    animation-delay: -1s;
  }
  
  .loading-speed > span > span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
  }
  
  @keyframes fazer1 {
    0% {
      right: 0;
    }
    100% {
      right: -80px;
      opacity: 0;
    }
  }
  @keyframes fazer2 {
    0% {
      right: 0;
    }
    100% {
      right: -100px;
      opacity: 0;
    }
  }
  @keyframes fazer3 {
    0% {
      right: 0;
    }
    100% {
      right: -50px;
      opacity: 0;
    }
  }
  @keyframes fazer4 {
    0% {
      right: 0;
    }
    100% {
      right: -150px;
      opacity: 0;
    }
  }
  @keyframes speeder {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
      transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
      transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  .loading-longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .loading-longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #000;
  }
  .loading-longfazers span:nth-child(1) {
    top: 20%;
    animation: lf .6s linear infinite;
    animation-delay: -5s;
  }
  .loading-longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 .8s linear infinite;
    animation-delay: -1s;
  }
  .loading-longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 .6s linear infinite;
  }
  .loading-longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 .5s linear infinite;
    animation-delay: -3s;
  }
  
  @keyframes lf {
    0% {
      right: 200%;
    }
    100% {
      right: -200%;
      opacity: 0;
    }
  }
  @keyframes lf2 {
    0% {
      right: 200%;
    }
    100% {
      right: -200%;
      opacity: 0;
    }
  }
  @keyframes lf3 {
    0% {
      right: 200%;
    }
    100% {
      right: -100%;
      opacity: 0;
    }
  }
  @keyframes lf4 {
    0% {
      right: 200%;
    }
    100% {
      right: -100%;
      opacity: 0;
    }
  }
  