/*!
 * khawkreab Grid v1.0.0-beta.2 (new design)
 * Copyright 2011-2018 khawkreab
 * Licensed khawkreab
 */

/*!
  * Add your styles for devices screen default  
  * Add your styles for devices more than screen width of 992px 
  */

/*!
// page : new-design.css
// version : 5
// task : footer
// edit by : khawkreab
*/
body {
	overflow-x: hidden;
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	background-color: #fff;
}

a {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section {
	padding: 52px 0;
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px
}

section h3.section-subheading {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial,
		sans-serif
}

::selection {
	background: #007bff;
	text-shadow: none
}

dl, ol, ul {
	padding: 0px;
}

li {
	list-style: none;
}

.clear {
	clear: both;
}

.bg-glay {
	background-color: #202020;
	color: #ffffff;
}

.bg-black {
	background-color: #000000;
	color: #ffffff;
}

/*!
* li navber
*/
.navbar-nav li {
	list-style: none;
	padding: 0px 15px;
}

.navbar-nav li:hover {
	background-color: #ccc
}

/*!
* override dropdown menu
*/
.dropdown-menu {
	position: absolute;
	width: 330;
	height: 800px;
	top: 100%;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 0rem 0rem 0rem .5rem;
}

/*!
* modal footer override
*/
.modal-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: center;
	padding: 15px;
	border-top: 1px solid #e9ecef;
	coloe: #007bff;
}

/*!
* card override
*/
.card {
	position: relative;
	border: none;
	box-shadow: none;
}

.card {
	display: inline-block;
	margin: 0 15px 15px 0;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 200px;
	height: 290px;
	border-radius: 0px;
	margin: 0 5px 5px 5px;
}

.card-deck .card {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: auto;
	float: left;
	padding: 0;
}

.card-img-top {
	display: block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

.card-img-top img {
	display: block;
	width: 100%;
}

.card-body {
	display: block;
	flex: 1 1 auto;
	padding: 0 .5rem 0 .5rem;
	text-align: left;
}

.card-title {
	display: block !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	font-size: 15px;
	color: #29303b;
	margin: 0 0 5px 0;
	width: 190;
	max-height: 40px;
	word-wrap: break-word;
}

.card-footer {
	display: flex;
	justify-content: flex-end;
	padding: 0px;
	background-color: transparent;
	border-top: 0px;
}

.card-text {
	display: block !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 16px;
	min-height: 16px;
	font-size: 15px;
	color: #29303b;
	margin-bottom: 10px;
}

.btn-card {
	margin: 4px;
	padding: 0px;
	border: 0;
	background-color: #fff;
	box-shadow: 1px 1px 5px 5px #e2e2e2;
}
/*! 
*navbar 
*/
#mainNav {
	background-color: #fff;
	box-shadow: 0px 0px 5px #ccc
}

#mainNav .navbar-toggler {
	font-size: 20px;
	left: 0;
	padding: 1px;
	text-transform: uppercase;
	color: #000;
	border: 0;
	background-color: transparent;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
	color: #ff7f00;
	font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial,
		cursive
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus,
	#mainNav .navbar-brand:hover {
	color: #ff7f00;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: #000;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav.navbar-shrink {
	/* 	padding-top: 10;
	padding-bottom: 10; */
	background-color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
	{
	color: #ff7f00;
}

#mainNav {
	padding: 0px;
	-webkit-transition: padding-top .3s, padding-bottom .3s;
	-moz-transition: padding-top .3s, padding-bottom .3s;
	transition: padding-top .3s, padding-bottom .3s;
	border: none;
	background-color: #fff
}

#mainNav .navbar-brand {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}

#mainNav .navbar-nav .nav-item .nav-link {
	padding: 1.1em 1em !important
}

.nav-item-logo {
	transition: top 600ms 0s ease;
}

.nav-item-logo-container {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%
}

.nav-item-logo-icon {
	display: block;
	fill: #5fcf80
}

.nav-item:hover .nav-item-logo-icon {
	fill: #3ac162
}

.nav-item-account {
	padding: 10px 10px;
	cursor: pointer;
	margin: 0px;
}

/*!
* box in pawner index
*/
.box-main {
	position: relative;
	width: 50%;
	height: 100%;
	background-color: #fff;
	display: flex;
}

.box-main:hover {
	background-color: #f5f5f5;
}

.box-sup {
	width: auto;
	height: auto;
	margin: auto;
}

.box-semi {
	position: relative;
	width: auto;
	height: auto;
	margin: 20px;
	float: left;
}

.text-center {
	text-align: center;
}

.box-sup ul li {
	list-style: none;
	position: relative;
	margin-bottom: 20px;
}

.time-line {
	width: 4px;
	height: 80%;
	background-color: #000;
	position: absolute;
	left: 18px
}

.cycle {
	width: 40px;
	height: 40px;
	background-color: rgb(251, 251, 251);
	justify-content: center;
	align-items: center;
	display: inline-flex;
	border-radius: 50%;
	margin: 0px;
	border: 2px solid #06f3c4;
}

/*!
* container override
*/
.container {
	align-items: center;
	position: relative;
}

.container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
}

/*!
* list post
*/
.list-body {
	width: 1048;
}

.list-filter {
	width: 200px;
	height: 300;
	display: block;
	background-color: #000;
	float: left;
}

.list-main {
	width: 848px;
	float: left;
}

/*!
* post form
*/
select {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
	color: black;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	background-color: #fafbfc;
	min-height: 34;
}

select:focus {
	background-color: #fff;
	border: 1px solid #2188ff;
	border-radius: 3px;
}

.re-contain {
	width: 700px;
	margin: 40px auto 0;
	line-height: 10px;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	font-size: 14px;
}

.Subhead {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	margin-bottom: 30px;
	padding-bottom: 8px;
	border-bottom: 1px #e1e4e8 solid;
}

.Subhead-heading {
	font-size: 24px;
	font-weight: normal;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.Subhead-description {
	font-size: 14px;
	color: #586069;
	font-weight: normal;
	-webkit-box-flex: 1;
	flex: 1 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	cursor: pointer;
}

.form-group-post {
	margin: 18.22px;
}

.post-name {
	width: 250;
	background-color: #fafbfc;
	margin-top: 12px;
	min-height: 34;
	padding: 6px 8px;
	color: black;
	vertical-align: middle;
	background-repeat: repeat;
	background-position: right 8px center;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	margin-bottom: 10px;
}

.post-description {
	width: 100%;
	background-color: #fafbfc;
	margin-top: -10px;
	min-height: 34;
	padding: 6px 8px;
	color: black;
	vertical-align: middle;
	background-repeat: repeat;
	background-position: right 8px center;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	margin-bottom: 10px;
}

.post-name:hover {
	background-color: #fff;
	border: 1px solid #2188ff;
	border-radius: 3px;
	margin-bottom: 10px;
}

.post-description:hover {
	background-color: #fff;
	border: 1px solid #2188ff;
	border-radius: 3px;
	margin-bottom: 10px;
}

strong {
	color: #34631a;
	cursor: pointer;
}

.enter-data {
	padding-bottom: 8px;
	border-bottom: 1px #e1e4e8 solid;
}

.summit-data {
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	background-color: #28a745;
	border: 1px solid rgba(27, 31, 35, 0.2);
	border-radius: 0.25em;
}

/*!
* detail estimate form
*/
@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px;
	}
}

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block;
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}

.tab-content {
	overflow: hidden;
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

.card-main-detail {
	margin-top: 50px;
	background: #eee;
	padding: 3em;
	line-height: 1.5em;
}

@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
	text-transform: UPPERCASE;
	font-weight: bold;
}

.checked, .price span {
	color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
	margin-bottom: 15px;
}

.product-title {
	margin-top: 0;
}

.size {
	margin-right: 10px;
}

.size:first-of-type {
	margin-left: 40px;
}

.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px;
}

.color:first-of-type {
	margin-left: 20px;
}

.add-to-cart, .like {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {
	background: #b36800;
	color: #fff;
}

.not-available {
	text-align: center;
	line-height: 2em;
}

.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff;
}

.orange {
	background: #ff9f1a;
}

.green {
	background: #85ad00;
}

.blue {
	background: #0076ad;
}

.tooltip-inner {
	padding: 1.3em;
}

@
-webkit-keyframes opacity { 0% {
	opacity: 0;
	-webkit-transform: scale(3);
	transform: scale(3);
}

/*!
* footer
*/
footer { 
	padding: 25px 0 0 0;
	text-align: left
}

.footer-copyright {
	font-size: 90%;
 	line-height: 40px;
	text-transform: none;
	text-align: center;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif
 

 }


/************************************************************************************************/

/*!
 * Add your styles for devices less than screen width of 320px 
 * Add your styles for devices less than screen width of 480px 
 * Add your styles for devices less than screen width of 768px 
 * Add your styles for devices less than screen width of 992px 
*/
@media screen and (max-width: 992px) {
	/*!
	* Add your styles for devices with a maximum width of 992px
	 */
	/*!
 * nav bar
 */
	.nav-item-account {
		position: absolute;
		top: 0px;
		right: 0px;
		padding-right: 10px;
		margin: 0px;
	}
	.nav-item-logo {
		width: 48px;
		height: 32px;
		top: 0px;
		overflow: hidden;
		position: absolute;
		margin-left: 0px;
	}
	.nav-item-reg {
		margin-top: 1px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.nav-item-logo {
		position: absolute;
		left: 50%;
		-webkit-transform: translatex(-50%);
		-moz-transform: translatex(-50%);
		-ms-transform: translatex(-50%);
		-o-transform: translatex(-50%);
		transform: translatex(-50%);
	}
	#mainNav {
		padding: 10px;
		-webkit-transition: padding-top .3s, padding-bottom .3s;
		-moz-transition: padding-top .3s, padding-bottom .3s;
		transition: padding-top .3s, padding-bottom .3s;
		border: none;
		background-color: #fff;
	}
	#mainNav.navbar-shrink {
		/* padding-top: 15;
		padding-bottom: 15; */
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		top: 5px;
	}

	/*!
* li navbar
*/
	.navbar-nav li:first-child {
		border-top: 1px solid #ccc;
		margin-top: 5px;
	}
}