/*!
 * khawkreab Grid v1.0.0-beta.2 (new design)
 * Copyright 2011-2018 khawkreab
 * Licensed khawkreab
 */

/*!
  * Add your styles for devices screen default  
  * Add your styles for devices more than screen width of 992px 
  */
body {
	overflow-x: hidden;
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section {
	padding: 52px 0;
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px
}

section h3.section-subheading {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial,
		sans-serif
}

::selection {
	background: #007bff;
	text-shadow: none
}

dl, ol, ul {
	padding: 0px;
}

li {
	list-style: none;
}

.clear{
	clear: both;
}

/*!
* li navber
*/
.navbar-nav li {
	list-style: none;
	padding: 0px 15px;
}

.navbar-nav li:hover {
	background-color: #ccc
}

/*!
* override dropdown menu
*/
.dropdown-menu {
	position: absolute;
	width: 330;
	top: 100%;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 0rem 0rem 0rem .5rem;
}

/*!
* modal footer override
*/
.modal-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: center;
	padding: 15px;
	border-top: 1px solid #e9ecef;
	coloe: #007bff;
}

/*!
* card override
*/
.card {
	position: relative;
	border: none;
	box-shadow: none;
}

.card {
	display: inline-block;
	margin: 0 15px 15px 0;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 216px;
	height: 290px;
	border-radius: 0px;
	margin: 0 5px 5px 5px;
}

.card-deck .card {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 5px 5px 5px;
}

.card:hover {
	box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0
		rgba(20, 23, 28, .1);
	opacity: 1;
}

.card-img-top {
	display: block;
	width: 100%;
	height: 216px;
	overflow: hidden;
	position: relative;
}

.card-img-top img {
	display: block;
	width: 100%;
}

.card-body {
	display: block;
	flex: 1 1 auto;
	padding: .5rem;
}

.card-title {
	display: block !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: 600;
	height: 36px;
	min-height: 42px;
	font-size: 15px;
	color: #29303b;
	margin: 0 0 5px 0;
}

.card-footer {
	display: flex;
	justify-content: flex-end;
	min-height: 36px;
	padding: 0px;
	background-color: transparent;
	border-top: 0px;
}

.card-text {
	display: block !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 16px;
	min-height: 16px;
	font-size: 15px;
	color: #29303b;
	margin-bottom: 10px;
}

.card-deck {
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 10px;
}
/*! 
*navbar 
*/
#mainNav {
	background-color: #fff;
	box-shadow: 0px 0px 5px #ccc
}

#mainNav .navbar-toggler {
	font-size: 20px;
	left: 0;
	padding: 1px;
	text-transform: uppercase;
	color: #000;
	border: 0;
	background-color: transparent;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
	color: #ff7f00;
	font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial,
		cursive
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus,
	#mainNav .navbar-brand:hover {
	color: #ff7f00;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: #000;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav.navbar-shrink {
	padding-top: 10;
	padding-bottom: 10;
	background-color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
	{
	color: #ff7f00;
}

#mainNav {
	padding: 0px;
	-webkit-transition: padding-top .3s, padding-bottom .3s;
	-moz-transition: padding-top .3s, padding-bottom .3s;
	transition: padding-top .3s, padding-bottom .3s;
	border: none;
	background-color: #fff
}

#mainNav .navbar-brand {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}

#mainNav .navbar-nav .nav-item .nav-link {
	padding: 1.1em 1em !important
}

.nav-item-logo {
	transition: top 600ms 0s ease;
}

.nav-item-logo-container {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%
}

.nav-item-logo-icon {
	display: block;
	fill: #5fcf80
}

.nav-item:hover .nav-item-logo-icon {
	fill: #3ac162
}

.nav-item-account {
	padding: 10px 10px;
	cursor: pointer;
	margin: 0px;
}

/************************************** end navbar *********************************************/
.box-main {
	position: relative;
	width: 50%;
	height: 100%;
	background-color: #fff;
	display: flex;
}

.box-main:hover {
	background-color: #f5f5f5;
}
	

.box-sup {
	width: auto;
	height: auto;
	margin: auto;
}

.box-semi {
	position: relative;
	width: auto;
	height: auto;
	margin: 20px;
	float: left;
}

.text-center{
	text-align: center;
}

.box-sup ul li {
	list-style: none;
	position: relative;
	margin-bottom: 20px;
}

.time-line {
	width: 4px;
	height: 80%;
	background-color: #000;
	position: absolute;
	left: 18px
}

.cycle {
	width: 40px;
	height: 40px;
	background-color: rgb(251, 251, 251);
	justify-content: center;
	align-items: center;
	display: inline-flex;
	border-radius: 50%;
	margin: 0px;
	border: 2px solid #06f3c4;
}

.container {
	align-items: center;
	position: relative;
}

/*!
* container override
*/
.container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
}

/*!
* list post
*/
.product {
	width: 400px;
	height: 200px;
	display: flex;
	margin: 1em 0;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.product:hover {
	box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.product .img-container {
	flex: 2;
}

.product .img-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.product .product-info {
	background: #fff;
	flex: 3;
}

.product-li li {
	float: left;
	padding-left: 5px;
}

/************************************************************************************************/

/*!
 * Add your styles for devices less than screen width of 320px 
 * Add your styles for devices less than screen width of 480px 
 * Add your styles for devices less than screen width of 768px 
 * Add your styles for devices less than screen width of 992px 
*/
@media screen and (max-width: 992px) {
	/*!
	* Add your styles for devices with a maximum width of 992px
	 */
	/*!
 * nav bar
 */
	.nav-item-account {
		position: absolute;
		top: 0px;
		right: 0px;
		padding-right: 10px;
		margin: 0px;
	}
	.nav-item-logo {
		width: 48px;
		height: 32px;
		top: 0px;
		overflow: hidden;
		position: absolute;
		margin-left: 0px;
	}
	.nav-item-reg {
		margin-top: 1px;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.nav-item-logo {
		position: absolute;
		left: 50%;
		-webkit-transform: translatex(-50%);
		-moz-transform: translatex(-50%);
		-ms-transform: translatex(-50%);
		-o-transform: translatex(-50%);
		transform: translatex(-50%);
	}
	#mainNav {
		padding: 10px;
		-webkit-transition: padding-top .3s, padding-bottom .3s;
		-moz-transition: padding-top .3s, padding-bottom .3s;
		transition: padding-top .3s, padding-bottom .3s;
		border: none;
		background-color: #fff;
	}
	#mainNav.navbar-shrink {
		padding-top: 15;
		padding-bottom: 15;
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		top: 5px;
	}

	/*!
* li navbar
*/
	.navbar-nav li:first-child {
		border-top: 1px solid #ccc;
		margin-top: 5px;
	}
}