.order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.order-list {
	display: block;
	position: relative;
	width: 70vw;
	height: auto;
	background-color: #fff;
	padding: 10px 10px 10px 15px;
	border-left: 5px solid #ff0000;
	margin-bottom: 10px;
}

.order-list:before {
	content: '';
	width: 10px;
	height: 20px;
	position: absolute;
	background-color: #ff0000;
	border-left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	left: 0;
	top: calc(50% - 20px);
}

.order-quality {
	width: auto;
	height: auto;
	font-size: .8rem;
	color: #555;
	background-color: #ddd;
	border-radius: 25px;
	padding: 2px 15px;
	color: #555;
	margin-left: 30px;
}

.order-title {
	display: flex;
	flex-direction: column;
}

.order-title i {
	font-size: .8rem;
	color: #555;
}