.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input {
	width: calc(100% - 10px);
	min-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: .5px;
	border: 0;
	border-bottom: 2px solid #ccc;
}

input:valid {
	border-color: #24cf5f;
}

input:focus {
	outline: none;
	border-color: #ff7700;
}

.pledge-form-btn {
	display: none;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 200px;
	height: 50px;
	border-radius: 2px;
	border: none;
	background: #ff7f00;;
	font-family: Montserrat-Bold;
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.pledge-form-btn:hover {
	background: #555;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.form-group {
	text-align: center;
	margin-top: 20px;
}

.pledge-form {
	margin: auto;
}

.pledge-form-list {
	padding-left: 0;
	list-style: none;
}

.pledge-form-list-row {
	margin-bottom: 25px;
}

.pledge-form-list-row label {
	position: relative;
	display: block;
	text-transpledge-form: uppercase;
	font-weight: 600;
	font-size: 11px;
	letter-spacing: .5px;
	color: #939393;
}

.pledge-form-list-row-inline {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.pledge-form-list-row-inline>:first-child {
	-ms-flex: 2;
	flex: 2;
	padding-right: 20px;
}

.pledge-form-list-row-inline>:nth-child(2n) {
	-ms-flex: 1;
	flex: 1;
}

.pledge-form-list-input-inline {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.pledge-form-list-input-inline>* {
	width: calc(50% - 10px - 10px);
}

.pledge-form-list-row-agree {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12px;
}

.pledge-form-list-row-agree label {
	font-weight: 400;
	text-transform: none;
	color: #676767;
}

.pledge-form-list-row-agree input {
	width: auto;
	margin-right: 5px;
}

.pledge-container {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
	height: 100%;
}

.pledge-featured {
	position: relative;
	-ms-flex: 1;
	flex: 1;
	min-width: 230px;
	padding: 20px;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pledge-circle {
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 200%;
	border-radius: 50%;
	-ms-transform: translateX(-50%) translateY(-25%);
	transform: translateX(-50%) translateY(-25%);
	background-size: cover;
}

.pledge-circle-img1 {
	background-image: url("../img/background/header-bg.jpg");
}

.pledge-circle-img2 {
	background-image: url("../img/background/header-bank.jpg");
}

.pledge-product {
	position: absolute;
	top: 0;
	left: 50%;
	max-width: 85%;
	-ms-transform: translateX(calc(-50% - 10px));
	transform: translateX(calc(-50% - 10px));
}

.pledge-content {
	-ms-flex: 3;
	flex: 3;
	padding: 40px 30px;
}

.form-list {
	display: inline-flex;
	list-style-type: none;
	margin-block-end: unset;
	margin-block-start: unset;
	padding-inline-start: unset;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}