/* Main carousel style */
.card-carousel {
	width: 500px;
	height: 320px;
	background-image: linear-gradient(to right, #ffa500, #ff2300);
}

/* Indicators list style */
.card-carousel-indicators {
	bottom: 0;
	left: 0;
	margin-left: 5px;
	width: 100%;
}
/* Indicators list style */
.card-carousel-indicators  li {
	border: medium none;
	border-radius: 0;
	float: left;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 5px !important;
	margin-top: 0;
	width: auto;
	height: auto;
}
/* Indicators images style */
.card-carousel-indicators  img {
	border: 2px solid #FFFFFF;
	float: left;
	height: 40px;
	left: 0;
	width: 80px;
	object-fit: contain;
}
/* Indicators active image style */
.card-carousel-indicators .active img {
	border: 2px solid #ff3300;
	opacity: 0.7;
}

.card-carousel-inner img {
	width: 500px;
	height: 320px;
	display: block;
	object-fit: contain;
}